<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend-2/static/css/temp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Futher Studies</title>
</head>
<body> 
    <div class="header">
        <a href="/frontend-2/templates/service.html " class="back"><i class="fa-solid fa-arrow-left"></a> 
    </div>       
    <div class="container">
        <form id="contact" action="" method="post">
          <h3>Further Studies</h3>
          <fieldset>
            <input placeholder="Your name" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Your Email Address" type="email" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
          </fieldset>
          <fieldset>
            <input placeholder="Your Branch" type="text" tabindex="4" required>
          </fieldset>
          <fieldset>
           <label for="country">Select the country : 
            <select name="country" id="country">
                <option value="India">India</option>
                <option value="Other-Country">Other Country...</option>
            </select>
           </label>
          </fieldset>
          <fieldset>
            <input placeholder="Your CGPA" type="text" tabindex="4" required>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" a >Submit</button>
          </fieldset>
        </form>
      </div>
</body>
</html>









