<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend-2/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Services</title>
</head>

<body>
    <div class="bg-img">
        <div class="header">
            <a href="/frontend-2/templates/index.html" class="back"><i class="fa-solid fa-arrow-left"></i></a>
            <h1 class="heading">Choose Your Path</h1>
        </div>
    <div class="grid-container">
        <a href="/frontend-2/templates/further-study.html"><div class="study"> <p>Further Studies</p> <img src="/frontend-2/img/higher-studies.png " alt="higher-studies" width="50%"></div>
        </a>
        <a href="/frontend-2/templates/placement.html"><div class="placement"><p> Placements </p> <img src="/frontend-2/img/placements.png" alt="placement" width="50%"></div>
        </a>
        <a href="/frontend-2/templates/resume.html"><div class="resume"><p> Resume </p> <img src="/frontend-2/img/resume.png" alt="placement" width="25%"></div>
        </a>
    </div>
</body>

</html>