<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend-2/static/css/style.css">
    <title>Recommendetion System</title>
</head>

<body>
    <div class="bg-img">

        <div class="navbar">
            <a href="#">Home</a>
            <a href="/frontend-2/templates/service.html">Services</a>
            <a href="#">About Us</a>
            <div class="login">
                <a href="/frontend-2/templates/login.html">Login</a>
            </div>
        </div>
        <div class="grid-layout">
            <div class="content">
                <h1>Hello</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt id enim nec aliquet. Sed
                    bibendum ultrices purus. Sed nisi nibh, maximus eu placerat vel, mollis porttitor nunc. Aliquam
                    faucibus, eros a mattis dapibus.
                </p>
                <div class="sign-up">
                    <a href="#">Sign Up</a>
                </div>
            </div>
            <div class="content-img"></div>
        </div>

    </div>



</body>

</html>